/* ==========================================================================
   General
   ========================================================================== */
html {
	font-family: 'Open Sans', sans-serif !important;
}

html, body {
	background: #262931;
	color: white;
}

p {
	color: #929cb3;
}

/* ==========================================================================
   Layout
   ========================================================================== */


.clusterize-scroll {
	max-width: 100%;
	margin: 0 auto;
}

#contentArea {
	max-width: 640px;
	/*margin: 0px auto;*/
	margin-left: 50%;
}

.main-details {
	max-width: 50%;
	background: rgba(38, 41, 49, 0.78);
	padding: 20px 40px;
	position: fixed;
	right: 40px;
	z-index: 999;
	bottom: 0;
}



.amount-left-block {
	height: 200px;
	width: 100px;
	border: 4px solid #3e8f3e;
	vertical-align: top;
	position: relative;
}

.amount-left-block .left {
	height: 100%;
	background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.amount-left-block .pointer {
	position: absolute;
	right: -30px;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: white;
	z-index: 99;
}








/*//nav*/

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	background-color: hsla(223, 12%, 11%, 1);
	border: 0;
	background-image: none;
}

.container>.navbar-header,
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: 100;
	font-size: 120%;
}




.products {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 47%;
	width: 100%;
	margin: 0 40px;
	margin-top: 80px;
	padding-right: 40px;
}

.products li {
	padding: 60px 80px;
    border-bottom: 1px solid #262931;

}

.products img {
	width: 100%;
	height: auto;
	display: block;
	/*max-height: 100px*/
	/*max-width: 100px;*/
	/*width: 100px;*/
	/*height: 100px;*/
}

.products .product__price {
	font-size: 120%;
	color: white;
	font-weight: 700;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
	max-height: 540px;
	overflow: scroll;
}



/* ==========================================================================
   Accordion
   ========================================================================== */
.products .panel-body {
	color: #fff;
	padding: 0;
}

.products .panel-body ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.products .panel-collapse {
	background-color: #363a46;
	color: #fff;
}

.panel-group .panel {
	border: 0;
}




/* ==========================================================================
   Stack of money
   ========================================================================== */


.billions,
.billions .billions__inner {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

/*.billions__inner li {
	position: relative;
	margin: 10em auto 0;
	width: 20em; height: 20em;
	background: dimgrey;
}
.billions__inner li:before, .billions__inner li:after {
	position: absolute;
	transform-origin: bottom right;
	content: '';
}
.billions__inner li:before {
	top: 0; right: 100%; bottom: 0;
	width: 4em;
	background: darkgrey;
	transform: skewY(45deg);
}
.billions__inner li:after {
	right: 0; bottom: 100%; left: 0;
	height: 4em;
	background: silver;
	transform: skewX(45deg);
}*/

.billions li {
	position: relative;

}


.billions .billions__inner {
	display: inline-block;
	width: 100%;
}

.billions .billions__inner li {
	display: inline-block;
	height: 40px;
	width: calc(10% - 4px);
	background-color: #49a049;
	color: #fff;
	border: 1px solid green;
	vertical-align: text-bottom;
	transition: background-color .25s ease-in-out,border-color .25s ease-in-out;
}

.billions .billions__inner .label {
	position: absolute;
    top: 2px;
	left: 25px;
    max-width: 50%;
    margin: 0 auto;
    z-index: 99;
    font-size: 21px;
    color: #fff;
    z-index: 99;
    text-align: center;
}

.billions .billions__inner .spent {
	background-color: rgba(73, 160, 73, 0.18);
	border-color: rgba(73, 160, 73, 0.28);
}















